* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  background-image: url('../assets/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Neucha', cursive;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.ancients-container {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.card {
  width: 200px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
  box-shadow: 4px 4px 4px 4px rgb(0, 0, 0, .4);
  filter: sepia(100%);
}

.card.active {
  outline: 5px solid #00af64;
  transform: scale(1.05);
  filter: sepia(0);
}

.card:hover {
  transform: scale(1.05);
  filter: sepia(0);
}

.levels-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.stage-text {
  width: 100%;
  color: white;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  opacity: .5;
}

.button {
  font-family: 'Neucha', cursive;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 4px 4px 4px 4px rgb(0, 0, 0, .4);
  cursor: pointer;
  transition: .4s;
}

.button.active {
  background-color: #00af64;
  transform: scale(1.05);
}

.button-shuffle {
  font-size: 32px;
  font-weight: bolder;
  margin-top: 20px;
  background-color: #cc3333;
}

.button:hover {
  transform: scale(1.1);
}

.deck-container {
  width: 35%;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.stage-container {
  text-align: center;
}

.current-state {
  width: 100%;
}

.dots-container {
  display: flex;
  justify-content: center;
}

.dot {
  width: 40px;
  height: 40px;
  margin: 0 10px 15px;
  border-radius: 10px;
  color: white;
  font-size: 32px;
  font-weight: bolder;
}

.green {
  background-color: #336600;
}

.brown {
  background-color: #996600;
}

.blue {
  background-color: #333399;
}

.card-back {
  width: 200px;
  height: 294px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 4px 4px rgb(0, 0, 0, .4);
  transition: .2s;
}

.card-back:hover {
  transform: scale(0.98);
}

.last-card {
  width: 200px;
  height: 294px;
  margin: 10px;
  border-radius: 10px;
  transition: .2s;
  box-shadow: 4px 4px 4px 4px rgb(0, 0, 0, .4);
  background-position: center;
  background-size: 101%;
  background-repeat: no-repeat;
}